body {
    background-color: theme('colors.smoke');
    background-image: linear-gradient(350deg,
        theme('colors.smoke') 0%,
        theme('colors.white') 50%,
        theme('colors.smoke') 100%);
    background-attachment: fixed;
}
