<template>
    <section class="phonebook-form tw-w-full tw-relative ">
        <div class="head tw-mb-4">
            <h2 class="tw-text-lg tw-text-center tw-m-2 tw-text-dark tw-font-bold tw-uppercase">
                <span class="tw-border-b tw-border-dashed tw-border-grey">{{ isType }} phonebook</span>
            </h2>
            <div v-if="error" class="tw-text-red tw-p-1 tw-text-center ">Invalid input values</div>
        </div>
        <form
            class="tw-w-full tw-max-w-md tw-mx-auto"
            @submit.prevent="action()"
        >
            <div class="form-field md:tw-flex md:tw-items-center tw-mb-6">
                <div class="md:tw-w-1/3">
                    <label
                        class="tw-block tw-text-grey tw-font-bold md:tw-text-left tw-mb-1 md:tw-mb-0 tw-pr-4"
                        for="field-phone-number"
                    >Phone Number</label>
                </div>
                <div class="md:tw-w-2/3">
                    <input
                        class="tw-appearance-none tw-border tw-border-grey tw-rounded tw-w-full tw-py-2 tw-px-4 tw-text-dark tw-leading-tight focus:tw-outline-none focus:tw-bg-white focus:tw-border-purple"
                        id="field-phone-number"
                        type="text"
                        name="number"
                        placeholder="insert phone number"
                        aria-label="phone number"
                        v-model="phone_number"
                    />
                </div>
            </div>
            <div class="form-field md:tw-flex md:tw-items-center tw-mb-6">
                <div class="md:tw-w-1/3">
                    <label
                        class="tw-block tw-text-grey tw-font-bold md:tw-text-left tw-mb-1 md:tw-mb-0 tw-pr-4"
                        for="field-type"
                    >Type</label>
                </div>
                <div class="md:tw-w-2/3">
                    <input
                        class="tw-appearance-none tw-border tw-border-grey tw-rounded tw-w-full tw-py-2 tw-px-4 tw-text-dark tw-leading-tight focus:tw-outline-none focus:tw-bg-white focus:tw-border-purple"
                        id="field-type"
                        type="text"
                        name="type"
                        placeholder="insert type : home , work , company"
                        aria-label="type"
                        v-model="phone_type"
                    />
                </div>
            </div>
            <div class="btn-group tw-flex tw-justify-between tw-mt-10">
                <button
                    class="tw-bg-green hover:tw-bg-green-darker tw-border-green hover:tw-border-green-darker tw-text-sm tw-border-4 tw-text-white tw-capitalize tw-py-1 tw-px-2 tw-rounded all-duration-1 focus:tw-outline-none"
                    type="submit"
                    v-if="isType == 'create'"
                >create</button>

                <button
                    class=" tw-bg-purple hover:tw-bg-purple-darker tw-border-purple hover:tw-border-purple-darker tw-text-sm tw-border-4 tw-text-white tw-capitalize tw-py-1 tw-px-2 tw-rounded all-duration-1 focus:tw-outline-none "
                    type="submit"
                    v-if="isType == 'update'"
                >update</button>

                <button
                    class="tw-bg-red hover:tw-bg-red-darker tw-border-red hover:tw-border-red-darker tw-text-sm tw-border-4 tw-text-white tw-capitalize tw-py-1 tw-px-2 tw-rounded all-duration-1 focus:tw-outline-none "
                    type="button"
                    @click.prevent="reset"
                >reset</button>
            </div>
        </form>
    </section>
</template>
<script>
export default {
    name: 'phonebook-form',
    props: {
        userId: {
            type: Number,
            required: true
        },
    },
    data() {
        return {
            isType: 'create',
            user_id: '',
            phone_id: '',
            phone_number: '',
            phone_type: '',
            error:false,
        }
    },
    computed: {
        validate() {
            return false;
        },
        getData() {
            return {
                user_id: this.userId,
                id: this.phone_id,
                number: this.phone_number,
                type: this.phone_type,
            }
        },
    },
    methods: {
        reset() {
            this.isType = 'create'
            this.user_id = ''
            this.phone_id = ''
            this.phone_number = ''
            this.phone_type = ''
            this.data = []
            this.oldData = []
            this.error = false

        },
        setData(data) {
            this.user_id = data.userId
            this.phone_id = data.id
            this.phone_number = data.number
            this.phone_type = data.type
        },

        async create() {
            if (this.validate) {
                console.log('Invalid input values')
            } else {

                await axios.post("/api/phonebook", this.getData)
                    .then(response => {
                        this.createdPhoneEvent(response.data.data)
                    })
                    .catch(error => {
                        console.log(error.response.data.errors)
                        this.error = true
                    })
            }
        },
        async update() {

            if (this.validate) {
                console.log('Invalid input values')
            } else {

                await axios.put(`/api/phonebook/${this.phone_id}`, this.getData)
                    .then(response => {
                        this.updatedPhoneEvent(response.data.data, this.oldData)
                    })
                    .catch(error => {
                        console.log(error.response.data.errors)
                        this.error = true

                    })
            }
        },
        action() {
            if (this.isType == 'create') {
                this.create()
            }
            if (this.isType == 'update') {
                this.update()
            }
        },
        updatedPhoneEvent(newData, oldData) {
            this.$bus.$emit('updatedPhone', newData, oldData)
            this.reset()

        },
        createdPhoneEvent(data) {
            this.$bus.$emit('createdPhone', data)
            this.reset()
        },
        editPhoneLinstener() {
            this.$bus.$on('editPhone', (data) => {
                if (data.user_id == this.userId) {
                    this.isType = 'update'
                    this.setData(data)
                    this.oldData = data
                }else{
                    console.log({error:"The user ID is incorrect"})
                }
            })
        }
    },
    created() {
        this.editPhoneLinstener()
    },
    beforeDestroy() {
        this.$bus.$off('editPhone')
    },
}

</script>
