<template>
    <section class="phonebook-list tw-w-full tw-relative">
        <transition-group
            name="fade"
            tag="ul"
        >
            <li
                class="tw-flex tw-justify-between tw-items-center tw-p-2 tw-border tw-border-dashed tw-border-grey tw-mb-1"
                v-for="phone in phonebook"
                :key="phone.id"
            >
                {{ phone.number }}
                <br>
                {{ phone.type }}
                <div class="btn-group">
                    <button
                        class="btn tw-inline-block tw-bg-purple hover:tw-bg-purple-darker tw-border-purple hover:tw-border-purple-darker tw-text-xs tw-border-4 tw-text-white tw-capitalize tw-py-px tw-px-1 tw-rounded all-duration-1 tw-leading-normal sm:tw-text-sm"
                        type="button"
                        @click.prevent="edit(phone)"
                    >edit</button>
                    <button
                        class="btn tw-inline-block tw-bg-red hover:tw-bg-red-darker tw-border-red hover:tw-border-red-darker tw-text-xs tw-border-4 tw-text-white tw-capitalize tw-py-px tw-px-1 tw-rounded all-duration-1 tw-leading-normal sm:tw-text-sm"
                        type="button"
                        @click.prevent="remove(phone.id)"
                    >delete</button>
                </div>
            </li>
            <li
                v-if="phonebook.length == 0"
                key="no-phonebook"
                class="tw-p-2 tw-text-center tw-text-white tw-bg-red-lightest"
            >
                <strong class="tw-font-bold">The user has not created a phone number :(</strong>
            </li>
        </transition-group>
    </section>
</template>
<script>
export default {
    name: 'phonebook-list',
      props: {
        userId: {
            type: Number,
            required:true
        },
     },
    data() {
        return {
            phonebook: [],
        }
    },
    methods: {

        // get all user's phonebook
       async retrieve() {

            await axios.get(`/api/user/${this.userId}/phonebook`)
                .then(response => {
                    this.phonebook = JSON.parse(response.data.data)
                })
                .catch(error => {
                    console.log(error.response.data.errors)
                })
        },

        // remove user's phone number by id
        async remove(id) {

            await axios.delete(`/api/phonebook/${id}`)
                .then(response => {
                    var index = this.phonebook.map(phone => phone.id).indexOf(id)
                    this.phonebook.splice(index, 1)
                })
                .catch(error => {
                    console.log(error.response.data.errors)
                })
        },
        edit(phone) {
            phone.user_id = this.userId
            this.$bus.$emit('editPhone', phone)
        },
        updateListener() {
            this.$bus.$on('updatedPhone', (newData, oldData) => {
                var index = this.phonebook.map(phone => phone.id).indexOf(oldData.id)
                Object.assign(this.phonebook[index], newData)
            })
        },
        createListener() {
            this.$bus.$on('createdPhone', (data) => {
                this.phonebook.push(data)
            })
        }

    },

    created() {
        this.retrieve()
        this.updateListener()
        this.createListener()

    },

    beforeDestroy() {
        this.$bus.$off(['updatedPhone', 'createdPhone'])
    },
}

</script>
