<template>
    <section class="user-form tw-w-full tw-relative ">
        <div class="head tw-mb-4">
            <h2 class="tw-text-lg tw-text-center tw-m-2 tw-text-dark tw-font-bold tw-uppercase">
                <span class="tw-border-b tw-border-dashed tw-border-grey">{{ isType }} user</span>
            </h2>
            <div v-if="error" class="tw-text-red tw-p-1 tw-text-center ">Invalid input values</div>

        </div>
        <form
            class="tw-w-full tw-max-w-md tw-mx-auto"
            @submit.prevent="action()"
        >
            <div class="form-field md:tw-flex md:tw-items-center tw-mb-6">
                <div class="md:tw-w-1/3">
                    <label
                        class="tw-block tw-text-grey tw-font-bold md:tw-text-left tw-mb-1 md:tw-mb-0 tw-pr-4"
                        for="field-full-name"
                    >Full Name</label>
                </div>
                <div class="md:tw-w-2/3">
                    <input
                        class="tw-appearance-none tw-border tw-border-grey tw-rounded tw-w-full tw-py-2 tw-px-4 tw-text-dark tw-leading-tight focus:tw-outline-none focus:tw-bg-white focus:tw-border-purple"
                        id="field-fullname"
                        type="text"
                        name="name"
                        placeholder="insert full name"
                        aria-label="Full name"
                        v-model="name"
                    />
                </div>
            </div>
            <div class="form-field md:tw-flex md:tw-items-center tw-mb-6">
                <div class="md:tw-w-1/3">
                    <label
                        class="tw-block tw-text-grey tw-font-bold md:tw-text-left tw-mb-1 md:tw-mb-0 tw-pr-4"
                        for="field-email"
                    >E-Mail</label>
                </div>
                <div class="md:tw-w-2/3">
                    <input
                        class="tw-appearance-none tw-border tw-border-grey tw-rounded tw-w-full tw-py-2 tw-px-4 tw-text-dark tw-leading-tight focus:tw-outline-none focus:tw-bg-white focus:tw-border-purple"
                        id="field-email"
                        type="email"
                        name="email"
                        placeholder="insert email"
                        aria-label="email"
                        v-model="email"
                    />
                </div>
            </div>
            <div class="form-field md:tw-flex md:tw-items-center tw-mb-6">
                <div class="md:tw-w-1/3">
                    <label
                        class="tw-block tw-text-grey tw-font-bold md:tw-text-left tw-mb-1 md:tw-mb-0 tw-pr-4"
                        for="field-password"
                    >Password</label>
                </div>
                <div class="md:tw-w-2/3">
                    <input
                        class="tw-appearance-none tw-border tw-border-grey tw-rounded tw-w-full tw-py-2 tw-px-4 tw-text-dark tw-leading-tight focus:tw-outline-none focus:tw-bg-white focus:tw-border-purple"
                        id="field-password"
                        type="password"
                        name="password"
                        placeholder="insert password"
                        aria-label="email"
                        v-model="password"
                    />
                </div>
            </div>
            <div class="btn-group tw-flex tw-justify-between tw-mt-10">
                <button
                    class="tw-bg-green hover:tw-bg-green-darker tw-border-green hover:tw-border-green-darker tw-text-sm tw-border-4 tw-text-white tw-capitalize tw-py-1 tw-px-2 tw-rounded all-duration-1 focus:tw-outline-none"
                    type="submit"
                    v-if="isType == 'create'"
                >create</button>

                <button
                    class=" tw-bg-purple hover:tw-bg-purple-darker tw-border-purple hover:tw-border-purple-darker tw-text-sm tw-border-4 tw-text-white tw-capitalize tw-py-1 tw-px-2 tw-rounded all-duration-1 focus:tw-outline-none "
                    type="submit"
                    v-if="isType == 'update'"
                >update</button>

                <button
                    class="tw-bg-red hover:tw-bg-red-darker tw-border-red hover:tw-border-red-darker tw-text-sm tw-border-4 tw-text-white tw-capitalize tw-py-1 tw-px-2 tw-rounded all-duration-1 focus:tw-outline-none "
                    type="button"
                    @click.prevent="reset"
                >reset</button>
            </div>
        </form>
    </section>
</template>
<script>
export default {
    name: 'user-form',
    data() {
        return {
            isType: 'create',
            user_id: '',
            name: '',
            email: '',
            password: '',
            error:false
        }
    },
    computed: {
        validate() {
            return false;
        },
        getData() {
            return {
                user_id: this.user_id,
                name: this.name,
                email: this.email,
                password: this.password,
            }
        },
    },
    methods: {
        reset() {
            this.isType = 'create'
            this.user_id = ''
            this.name = ''
            this.email = ''
            this.password = ''
            this.data = []
            this.oldData = []
            this.error = false
        },
        setData(data) {
            this.user_id = data.id
            this.name = data.name
            this.email = data.email
        },

        async create() {
            if (this.validate) {
                console.log('Invalid input values')
            } else {

                await axios.post('/api/user', this.getData)
                    .then(response => {
                        this.createdUserEvent(response.data.data)
                    })
                    .catch(error => {
                        console.log(error.response.data.errors)
                        this.error = true
                    })
            }
        },
        async update() {

            if (this.validate) {
                console.log('Invalid input values')
            } else {

                await axios.put(`/api/user/${this.user_id}`, this.getData)
                    .then(response => {
                        this.updatedUserEvent(response.data.data, this.oldData)
                    })
                    .catch(error => {
                        console.log(error.response.data.errors)
                        this.error = true

                    })
            }
        },
        action() {
            if (this.isType == 'create') {
                this.create()
            }
            if (this.isType == 'update') {
                this.update()
            }
        },
        updatedUserEvent(newData, oldData) {
            this.$bus.$emit('updatedUser', newData, oldData)
            this.reset()

        },
        createdUserEvent(data) {
            this.$bus.$emit('createdUser', data)
            this.reset()
        }
    },
    created() {
        this.$bus.$on('editUser', (data) => {
            this.isType = 'update'
            this.setData(data)
            this.oldData = data
        })
    },
    beforeDestroy() {
        this.$bus.$off('editUser')
    },
}

</script>
