<template>
    <section class="user-list tw-w-full tw-relative">
        <transition-group
            name="fade"
            tag="ul"
        >
            <li
                class="tw-flex tw-justify-between tw-items-center tw-p-2 tw-border tw-border-dashed tw-border-grey tw-mb-1"
                v-for="user in users"
                :key="user.id"
            >
                {{ user.name }}
                <br>
                {{ user.email }}
                <div class="btn-group">
                    <a
                        class="btn tw-inline-block tw-bg-blue hover:tw-bg-blue-darker tw-border-blue hover:tw-border-blue-darker tw-text-xs tw-border-4 tw-text-white tw-capitalize tw-py-px tw-px-1 tw-rounded all-duration-1 tw-leading-normal sm:tw-text-sm"
                        :href="showPhonebook(user.id)"
                    >phonebook</a>
                    <button
                        class="btn tw-inline-block tw-bg-purple hover:tw-bg-purple-darker tw-border-purple hover:tw-border-purple-darker tw-text-xs tw-border-4 tw-text-white tw-capitalize tw-py-px tw-px-1 tw-rounded all-duration-1 tw-leading-normal sm:tw-text-sm"
                        type="button"
                        @click.prevent="edit(user)"
                    >edit</button>
                    <button
                        class="btn tw-inline-block tw-bg-red hover:tw-bg-red-darker tw-border-red hover:tw-border-red-darker tw-text-xs tw-border-4 tw-text-white tw-capitalize tw-py-px tw-px-1 tw-rounded all-duration-1 tw-leading-normal sm:tw-text-sm"
                        type="button"
                        @click.prevent="remove(user.id)"
                    >delete</button>
                </div>
            </li>
            <li
                v-if="users.length == 0"
                key="no-user"
                class="tw-p-2 tw-text-center tw-text-white tw-bg-red-lightest"
            >
                <strong class="tw-font-bold">There are no users :(</strong>
            </li>
        </transition-group>
    </section>
</template>
<script>
export default {
    name: 'user-list',
    data() {
        return {
            users: [],
        }
    },
    methods: {
        // user's phonebook page url
        showPhonebook(id) {
            return "/user/" + id + "/phonebook"
        },

        // get all users
        async retrieve() {

            await axios.get('/api/user')
                .then(response => {
                    this.users = JSON.parse(response.data.data)
                })
                .catch(error => {
                    console.log(error.response.data.errors)
                })
        },

        // remove user by id
        async remove(id) {

            await axios.delete('/api/user/' + id)
                .then(response => {
                    var index = this.users.map(user => user.id).indexOf(id)
                    this.users.splice(index, 1)
                })
                .catch(error => {
                    console.log(error.response.data.errors)
                })
        },
        edit(user) {
            this.$bus.$emit('editUser', user)
        },
        updateListener() {
            this.$bus.$on('updatedUser', (newData, oldData) => {
                var index = this.users.map(user => user.id).indexOf(oldData.id)
                Object.assign(this.users[index], newData)
            })
        },
        createListener() {
            this.$bus.$on('createdUser', (data) => {
                this.users.push(data)
            })
        }

    },

    created() {
        this.retrieve()
        this.updateListener()
        this.createListener()

    },

    beforeDestroy() {
        this.$bus.$off(['updatedUser', 'createdUser'])
    },
}

</script>
